{% extends 'base.html.twig' %}

{% block title %}Düzenle{% endblock %}

{% block body %}
    <h1><span class="badge badge-secondary" style="margin-top: 50px; margin-left: 450px;">Kategoriyi Düzenle</span></h1>
        <div style="text-align: center;    display: flex;
    justify-content: center;">
        {{ include('category/_form.html.twig', {'button_label': 'Kaydet'}) }}
        </div>
    <div style="text-align: center;     margin: -100px 0 20px 0;">
        <a style="color: #ffffff" href="{{ path('category_index') }}" class="btn btn-success">Kategoriler</a>
    </div>

{% endblock %}
