{% extends 'base.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}
    <h1 style="text-align: center; margin-top: 50px">CREATE NEW CATEGORY</h1>
    <div style="text-align: center">
    {{ include('category/_form.html.twig') }}
    </div>
    <div style="text-align: center">
        <a href="{{ path('category_index') }}">Go to -> Categories List Page</a>
    </div>
{% endblock %}
