{% extends 'base.html.twig' %}

{% block title %}Yeni Kategori{% endblock %}

{% block body %}
    <h1><span class="badge badge-secondary" style="margin-top: 50px; margin-left: 455px;">Yeni Kategori Oluştur</span></h1>
    <div style="text-align: center">
    {{ include('category/_form.html.twig') }}
    </div>
    <div style="text-align: center">
        <a class="btn btn-success" style="margin-bottom: 30px" href="{{ path('category_index') }}">Kategori Listesine Git</a>
    </div>
{% endblock %}
