{% extends 'base.html.twig' %}

{% block title %}Yeni Kategori{% endblock %}

{% block body %}
    <h1 style="text-align: center; margin-top: 50px">Yeni Kategori Oluştur</h1>
    <div style="text-align: center">
    {{ include('category/_form.html.twig') }}
    </div>
    <div style="text-align: center">
        <a class="btn btn-success" style="margin-bottom: 30px" href="{{ path('category_index') }}">Kategori Listesine Git</a>
    </div>
{% endblock %}
