<div style="margin: 50px  ; "  class="add-form">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button style="color: #ffffff" class="btn btn-info">{{ button_label|default('Kaydet') }}</button>
    {{ form_end(form) }}
</div>

