{% extends 'base.html.twig' %}

{% block title %}New Task{% endblock %}

{% block body %}
    <h1 style="text-align: center; margin-top: 50px">CREATE NEW TASK</h1>
    <div style="text-align: center">
    {{ include('task/_form.html.twig') }}
    </div>
    <div style="text-align: center">
    <a href="{{ path('task_index') }}">Go to -> Task List Page</a>
    </div>
{% endblock %}
