{% extends 'base.html.twig' %}

{% block title %}Yeni Görev{% endblock %}

{% block body %}
    <h1><span class="badge badge-secondary" style="margin-top: 50px; margin-left: 455px;">Yeni Görev Oluştur</span></h1>
    <div style="text-align: center">
        {{ include('task/_form.html.twig') }}
    </div>
    <div style="text-align: center">
        <a class="btn btn-success" style="margin-bottom: 30px" href="{{ path('task_index') }}">Görevler Listesine Git</a>
    </div>
{% endblock %}
