{% extends "base.html.twig" %}

{% block title %}Done!{% endblock %}
{% block body %}
    <div class="container text-center" style="margin: 50px auto;">
        <a href="{{ path('task_index') }}">
            <img src="https://i.chzbgr.com/full/6979612672/h41B5EF41/" width="487" height="700">
        </a>
    </div>
{% endblock %}